<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoIt</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <link rel="stylesheet" href="./fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="./fontawesome/css/regular.min.css" />
    <link rel="stylesheet" href="./fontawesome/css/solid.min.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header id="header">
      <i class="fa fa-list"></i>
      <h1>ToDoIt</h1>
    </header>

    <div id="addBtnContainer">
      <button id="addBtn"><i class="fas fa-plus"></i> Add</button>
    </div>

    <table id="tasks">
      <thead>
        <tr>
          <th>Complete</th>
          <th>Title</th>
          <th>Task</th>
          <th>Priority</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (tasks.length === 0) { %>
        <tr>
          <td colspan="6">No tasks found</td>
        </tr>
        <% } else { %> <% tasks.forEach(task => { %>
        <tr>
          <td>
            <input
              class="completeBox"
              type="checkbox"
              <% if(task.completed) { %> checked <%} %> data-task-id="<%= task._id %>">
          </td>
          <td
            class="task-row <% if (task.completed) { %> strikeThrough <% } %>"
          >
            <%= task.title %>
          </td>
          <td
            id="taskValue"
            class="task-row <% if (task.completed) { %> strikeThrough <% } %>"
          >
            <%= task.task %>
          </td>
          <td
            data-value="<%= task.priority %>"
            class="task-row <% if (task.completed) { %> strikeThrough <% } %>"
          >
            <p><%= task.priority %></p>
          </td>
          <td
            class="task-row <% if (task.completed) { %> strikeThrough <% } %>"
          >
            <%= task.date %>
          </td>
          <td>
            <button class="editBtn" data-task-id="<%= task._id %>">
              <i class="fas fa-edit"></i> Edit
            </button>
            <button class="deleteBtn" data-task-id="<%= task._id %>">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
        <% }); %> <% } %>
      </tbody>
    </table>

    <div class="popup" id="successPopup">
      <div class="popup-content">
        <span class="close-btn">&times;</span>
        <p id="successMsg"></p>
      </div>
    </div>

    <div class="popup" id="deletePopup">
      <div class="popup-content">
        <span class="close-btn">&times;</span>
        <p id="deleteMsg"></p>
      </div>
    </div>

    <dialog id="addTask">
      <div class="popup" id="errorPopup">
        <div class="popup-content">
          <span class="close-btn">&times;</span>
          <p id="errorMsg"></p>
        </div>
      </div>

      <form method="POST">
        <label for="title" class="label">Title:</label>
        <input
          type="text"
          class="title"
          name="title"
          placeholder="Title"
          aria-label="Enter the title"
          title="Please enter the title"
        />

        <label for="task" class="label">Task:</label>
        <textarea
          class="task"
          name="task"
          placeholder="Task"
          rows="10"
          aria-label="Enter the task"
          title="Please provide the task"
        ></textarea>

        <label for="priority" class="label">Priority:</label>
        <select
          class="priority"
          name="priority"
          placeholder="Priority"
          aria-label="Select priority"
          title="Choose the priority"
        >
          <option value="" selected></option>
          <option value="Low Priority">Low</option>
          <option value="Medium Priority">Medium</option>
          <option value="High Priority">High</option>
        </select>

        <label for="date" class="label">Date:</label>
        <input
          type="date"
          class="date"
          name="date"
          aria-label="Select a date"
          title="Please choose a date"
        />

        <div id="dialogBtns">
          <button id="cancelBtn" type="button">Cancel</button>
          <button id="confirmBtn" value="default">Confirm</button>
        </div>
      </form>
    </dialog>

    <dialog id="editTask">
      <div class="popup" id="errorPopup">
        <div class="popup-content">
          <span class="close-btn">&times;</span>
          <p id="errorMsg"></p>
        </div>
      </div>
      <form>
        <label for="title" class="label">Title:</label>
        <input
          type="text"
          class="title"
          name="title"
          placeholder="Title"
          aria-label="Title"
          title="Title"
        />

        <label for="task" class="label">Task:</label>
        <textarea
          class="task"
          name="task"
          placeholder="Task"
          rows="4"
          aria-label="Task"
          title="Task"
        ></textarea>

        <label for="priority" class="label">Priority:</label>
        <select
          class="priority"
          name="priority"
          placeholder="Priority"
          aria-label="Priority"
          title="Priority"
        >
          <option value="" selected></option>
          <option value="Low Priority">Low</option>
          <option value="Medium Priority">Medium</option>
          <option value="High Priority">High</option>
        </select>

        <label for="date" class="label">Date:</label>
        <input
          type="date"
          class="date"
          name="date"
          aria-label="Date"
          title="Date"
        />

        <div id="dialogBtns">
          <button id="closeUpdateBtn" type="button">Close</button>
          <button id="updateBtn" value="default">Update</button>
        </div>
      </form>
    </dialog>

    <dialog id="viewTask">
      <form>
        <label for="title" class="label">Title:</label>
        <input
          type="text"
          class="title"
          name="title"
          placeholder="Title"
          aria-label="Title"
          title="Title"
          readonly
        />

        <label for="task" class="label">Task:</label>
        <textarea
          class="task"
          name="task"
          placeholder="Task"
          rows="4"
          aria-label="Task"
          title="Task"
          readonly
        ></textarea>

        <label for="priority" class="label">Priority:</label>
        <select
          class="priority"
          name="priority"
          placeholder="Priority"
          aria-label="Priority"
          title="Priority"
          disabled
        >
          <option value="" selected></option>
          <option value="Low Priority">Low</option>
          <option value="Medium Priority">Medium</option>
          <option value="High Priority">High</option>
        </select>

        <label for="date" class="label">Date:</label>
        <input
          type="date"
          class="date"
          name="date"
          aria-label="Date"
          title="Date"
          readonly
        />

        <div id="dialogBtns">
          <button id="closeBtn" type="button">Close</button>
        </div>
      </form>
    </dialog>

    <dialog id="deleteTask">
      <div class="popup" id="errorPopup">
        <div class="popup-content">
          <span class="close-btn">&times;</span>
          <p id="errorMsg"></p>
        </div>
      </div>

      <form method="dialog">
        <p id="warningMsg">Are you sure you want to delete this task?</p>
        <div id="dialogBtns">
          <button id="cancelDeletion" type="button">Cancel</button>
          <button id="confirmDeletion" value="default">Confirm</button>
        </div>
      </form>
    </dialog>

    <script src="index.js" type="module"></script>
  </body>
</html>
